<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/app/static/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <h1>TODO</h1>
    <div id="main">
        <div id="list_contaneir">
            <ul>
                <li>do something</li>
                <li>do other something</li>
                <li>do more other something</li>
            </ul>
        </div>
    </div>
</body>
</html>